<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
</head>
<style>
    #calc{
        padding-top: 100px;
    }
    h1{
        font-size: 60px;
        margin-top: 60px;
    }
    #div2{
        padding-top: 20px;
    }
</style>
<body>
<div>
    {% block body_block %}{% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>