<!--<!DOCTYPE html>
<html lang="en">
-->
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Currency Converter{% endblock %}

{% block body_block %}

<div class="container">
<h1 class="text-center"> Currency converter </h1>
</div>

<div class="container" id="calc">
<div class="col-md-6 col-md-offset-3 text-center">
    <form action="" method="post">
        {% csrf_token %}
        <label>Currency from</label>
        <select name="currencyFrom" id="c1">
        {% for pair in currencies %}
            <option value="{{ pair.0 }}">{{ pair.1 }}</option>
        {% endfor %}
        </select> <br>
        <label>Currency to</label>
        <select name="currencyTo" id="c2">
        {% for pair in currencies %}
        <option value="{{ pair.0 }}">{{ pair.1 }}</option>
        {% endfor %}
        </select> <br>
        <label>Amount</label>
        <input type="number" name="amount" id="amount" required> <br>
        <label>You Get</label>
        <input readonly="readonly" type="number" value="0" id="result">

    </form>

    <button id="about-btn">
       jquery test
    </button>

</div>

</div>
<div class="col-md-6 col-md-offset-3 text-center" id="div2">
<ul class="nav nav-list">
        <li class="nav-header">Find a Currency</li>
        <form>
        <label></label>
        <li><input  class="search-query span10" type="text" name="suggestion" value="" id="suggestion" /></li>
        </form>
</ul>

<div id="cats">
</div>
</div>

    <div class="col-md-8 col-md-offset-2" id="reviews">
    <ul class="list-unstyled">
    {% for review in reviews %}
        <li style="padding-top: 10px; margin-top: 50px;"><h5>{{ review.title }}</h5>
        <p>{{ review.rating }}</p>
        <p class="well" style="padding: 10px 15px 10px 15px; margin: 0px 0px 0px 0px;">{{ review.text }}</p>
        <p>{{ review.author }}</p></li>
    {% endfor %}
        <li>Add a review</li>
        <form>
            {% csrf_token %}
            <label>Name</label>
            <input type="text" name="revName" value="" placeholder="Robert Oppenheimer" id="revName"/>
            <label>Title</label>
            <input type="text" name="title" value="" id="revTitle"/><br>
            <label>Rating (/5)</label>
            <input type="number" name="rating" id="rating"><br>
            <label>Review text</label>
            <input class="form-control input-large" type="text" name="revText" value="" id="revText"/>

        </form>

    </ul>
    <button id="rvw-submit">Post</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/csrf.js" %}"></script>
<script src="{% static "js/cc-ajax.js" %}"></script>
{% endblock %}
<!--<script>
    $(document).ready(function(){
        var currencyFrom = document.getElementById("c1").value;
      var currencyTo = document.getElementById("c2").value;
      var amount = document.getElementById("amount").value
    $("button").click(function(){
        $.ajax({
            url: "",
            type: "POST",
            data: {currencyFrom: currencyFrom,currencyTo: currencyTo,amount: amount},
            cache:false,
            dataType: "json",
            success: function(resp){
            alert ("resp: "+resp.res);
    }
});
    });
});
</script>

<script type="text/javascript">
    document.getElementById("ajaxButton").onclick = function() {
      var currencyFrom = document.getElementById("c1").value;
      var currencyTo = document.getElementById("c2").value;
      var amount = document.getElementById("amount").value.toString();
      makeRequest('',currencyFrom, currencyTo, amount);
  };
    function makeRequest(url,currencyFrom, currencyTo, amount){
    var httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = function alertContents() {
    if (httpRequest.readyState === 4) {
      if (httpRequest.status === 200) {
        alert(httpRequest.responseText);
      } else {
        alert('There was a problem with the request.');
      }
    }
  }
    httpRequest.open('POST', url, true) /*If TRUE (the default), the execution of the JavaScript function will continue while the response of the server has not yet arrived. This is the A in AJAX.*/
    httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    httpRequest.send("currencyFrom="+currencyFrom+"&currencyTdo="+currencyTo+"&amount="+amount);
    }
//+"&CurrencyFrom="+document.getElementById("c1")+"&amount="+document.getElementById("amount").value.toString())
</script>

</body>
</html>-->