<!DOCTYPE html>
<html lang="en">
-->
{% extends 'base.html' %}

{% load staticfiles %}

{% block meta %} {% endblock %}

{% block title %}Currency Converter{% endblock %}

{% block style %}
    #calc{
        padding-top: 100px;
    }
    h1{
        font-size: 40px;
        margin-top: 60px;
    }
    #div2{
        padding-top: 20px;
    }
    #bot{
        background-color: rgb(0, 127, 240);
        padding-top: 100px;
    }
    #mid{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #top{
        background-color: rgb(0, 127, 240);
        padding-bottom: 100px;
    }
{% endblock %}

{% block body_block %}

<section id="top">
<div class="container" id="calc" >
<div class="col-md-6 col-md-offset-3 text-center">
    <h1 class="text-center"> Currency converter </h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>Currency from</label>
        <select name="countryFrom" id="c1">
        {% for country in countries %}
        {% if country.currency.code  == "GBP" %}
        <option value="{{ country.id }}" selected="selected">{{ country.country_name }}</option>
        {% else %}
        <option value="{{ country.id }}"> {{ country.country_name }}</option>
        {% endif %}
        {% endfor %}
        </select> <br>
        <label>Currency to</label>
        <select name="countryTo" id="c2">
        {% for country in countries %}
        {% if country.iso3  == "IND" %}
        <option value="{{ country.id }}" selected="selected">{{ country.country_name }}</option>
        {% else %}
        <option value="{{ country.id }}"> {{ country.country_name }}</option>
        {% endif %}
        {% endfor %}
        </select> <br>
        <label>Amount</label>
        <input type="number" name="amount" id="amount" required> <br>
        <label>You Get</label>
        <input readonly="readonly" type="number" value="0" id="result">

    </form>

    <button id="about-btn">
       jquery test
    </button>
    <button id="compare">
        Compare rates
    </button>

</div>
</section>

<section class="section-grey table-rating">
    <div class="container" id="rates">
       
               <!--  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed accumsan quam, sed fringilla nisi. Sed vel placerat nisl, vitae fermentum arcu. Quisque interdum, nulla semper vestibulum malesuada, massa nulla blandit quam, a dignissim quam diam eu lectus. Pellentesque placerat posuere neque. Suspendisse vitae commodo velit. Nunc vel scelerisque risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur posuere orci at risus scelerisque sagittis. Sed aliquet leo id tellus molestie viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam semper nulla nec lacus tempor, vel vehicula justo maximus. Donec accumsan lacinia sem, eu egestas mauris pharetra et. Nullam eu magna elit. Aenean sollicitudin tristique turpis. Sed metus sapien, rutrum molestie feugiat sed, laoreet a arcu.</p>

                <p>Etiam aliquet feugiat commodo. Proin sit amet erat tortor. Donec et turpis a risus facilisis tristique. Quisque dignissim tellus quis libero semper volutpat in id risus. Morbi cursus a sapien in finibus. Nunc sit amet lectus et nibh blandit rhoncus. Integer scelerisque imperdiet lorem, sit amet dapibus massa eleifend at. Morbi arcu erat, finibus eu fermentum quis, iaculis ut turpis. Vestibulum quis lectus vel turpis eleifend faucibus. Nam tempor a sapien ut tempor. Sed eleifend diam in aliquam euismod. Aliquam eget elementum metus.</p>

                <p>Nam commodo est ut velit suscipit, eu euismod nisl dapibus. Curabitur ac maximus nulla. Mauris id nibh sed massa maximus fringilla et at tortor. Aliquam sodales leo quis ante tempor feugiat. Etiam tellus nisl, ornare vitae enim tristique, sollicitudin fermentum nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc gravida posuere elit, non fringilla eros imperdiet eget. Aliquam sagittis libero vel urna semper ultricies. Nunc vestibulum ex et vestibulum dictum. Morbi ullamcorper massa id urna placerat, fermentum convallis turpis tincidunt.</p>

                <p>Praesent erat lectus, ultricies placerat varius non, mattis eu risus. Fusce ullamcorper faucibus egestas. Etiam vel rhoncus neque. Vivamus est elit, laoreet posuere nisl vitae, ultricies volutpat enim. Quisque dignissim sollicitudin nulla venenatis vehicula. Proin ultricies tellus in pharetra tristique. Donec blandit, elit vel aliquet aliquet, dolor dui imperdiet tortor, in ullamcorper quam diam molestie erat.</p> -->
        </div>
    </div>
</section>

<section id="bot">
<div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2" id="reviews">
    <ul class="list-unstyled">
    {% for review in reviews %}
        <div class="row well">
        <div class="col-md-2">{{ review.author }}</div>
        <div class="col-md-4">{{ review.title }}</div>
        <p>{{ review.rating }}</p>
        <p style="padding: 10px 15px 10px 15px; margin: 0px 0px 0px 0px;">{{ review.text }}</p>
        </div>
       
    {% endfor %}
        <li>Add a review</li>
        <form>
            {% csrf_token %}
            <label>Name</label>
            <input type="text" name="revName" value="" placeholder="Robert Oppenheimer" id="revName"/>
            <label>Title</label>
            <input type="text" name="title" value="" id="revTitle"/><br>
            <label>Rating (/5)</label>
            <input type="number" name="rating" id="rating"><br>
            <label>Review text</label>
            <input class="form-control input-large" type="text" name="revText" value="" id="revText"/>

        </form>

    </ul>
    <button id="rvw-submit">Post</button>
</div>
</div>
</div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static "js/cc-ajax.js" %}"></script>
<script type="text/javascript" src="{% static "js/csrf.js" %}"></script>
<script type="text/javascript">
$('.container').on('click','.drop' , function(){
        $(this).closest('.card').find('.slidingDiv').slideToggle(300)
    });
</script>

{% endblock %}
<!--<script>
    $(document).ready(function(){
        var currencyFrom = document.getElementById("c1").value;
      var currencyTo = document.getElementById("c2").value;
      var amount = document.getElementById("amount").value
    $("button").click(function(){
        $.ajax({
            url: "",
            type: "POST",
            data: {currencyFrom: currencyFrom,currencyTo: currencyTo,amount: amount},
            cache:false,
            dataType: "json",
            success: function(resp){
            alert ("resp: "+resp.res);
    }
});
    });
});
</script>

<script type="text/javascript">
    document.getElementById("ajaxButton").onclick = function() {
      var currencyFrom = document.getElementById("c1").value;
      var currencyTo = document.getElementById("c2").value;
      var amount = document.getElementById("amount").value.toString();
      makeRequest('',currencyFrom, currencyTo, amount);
  };
    function makeRequest(url,currencyFrom, currencyTo, amount){
    var httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = function alertContents() {
    if (httpRequest.readyState === 4) {
      if (httpRequest.status === 200) {
        alert(httpRequest.responseText);
      } else {
        alert('There was a problem with the request.');
      }
    }
  }
    httpRequest.open('POST', url, true) /*If TRUE (the default), the execution of the JavaScript function will continue while the response of the server has not yet arrived. This is the A in AJAX.*/
    httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    httpRequest.send("currencyFrom="+currencyFrom+"&currencyTdo="+currencyTo+"&amount="+amount);
    }
//+"&CurrencyFrom="+document.getElementById("c1")+"&amount="+document.getElementById("amount").value.toString())
</script>

</body>
</html>