<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<style>
    #box{
        padding-top: 100px;
    }
    h1{
        font-size: 80px;
        margin-top: 100px;
    }
</style>
<body>
<div class="container">
<h1 class="text-center"> Coming soon </h1>
</div>
<div class="container" id="box">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center"
        <form action="" method="post">
        {% csrf_token %}
        <input id="signup" class="form-control input-lg" type="text" name="email" placeholder="saveme@money.com" > <!-- this only works in html5 supporting browsers; also the email validation is not especially sophisticated - it would be a better idea to use javascript pattern matching to fully check. -->
        <button id="butt" class="btn btn-success btn-block" type="submit" disabled> Sign up for updates </button>
        </div>
    </div>

</div>


</form>

<script type="text/javascript">
    var email = document.getElementById("signup");
    email.addEventListener("input", emailChecker());
    document.getElementById("signup").addEventListener("input", emailChecker)

    function emailChecker(){
        var button = document.getElementById("butt");
        var email_string = document.getElementById("signup").value;
        var patt = /.*@.*\./;
        if (patt.test(email_string)){
            button.disabled = false;
        }
        else{
            button.disabled = true;
        }
    }
</script>
</body>
</html>
